@import "tailwindcss";

:root {
  --background: #0A0A0C;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --container-max: 1440px;
  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  .container { padding-inline: 1.5rem; }
}

@media (min-width: 1024px) {
  .container { padding-inline: 2.5rem; }
}

@media (min-width: 1280px) {
  .container { padding-inline: 3rem; }
}

@media (min-width: 1440px) {
  .container { padding-inline: 2rem; }
}
@media (min-width: 1600px) {

  .container { 
    max-width: 1280px;
    padding-inline: 0rem; }
}
@media (max-width: 1500px) {
  .container {
    max-width: 1140px;
    padding-inline: 0;
  }
  .team-orbit{
    zoom: 0.8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}
